<p>Hello <%= name %>,</p>

<p>We received a request to reset your password. If you didn't make this request, please ignore this email.</p>

<p>To reset your password, click on the following link:</p>

<p><a href="<%= resetUrl %>">Reset Password</a></p>

<p>If you're having trouble clicking the link, copy and paste the following URL into your browser:</p>

<p><%= resetUrl %></p>

<p>Best regards,</p>
<p>The Citizen Connect360 Team</p>